@use '../../styles/color.scss' as *;

.inputArea {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.inputBox {
    background-color: rgb(237, 237, 237);
    height: 3em;
    margin: 0.2em 0em;
    padding: 0em 0.5em;
    border-radius: 0.3em;
    border: 1px solid $boxItemStroke1;
    color: gray;
    &:first-child {
        margin-top: 0.5em;
    }
}