@use '../../../styles/color.scss' as *;

.colorBtn {
    background-color: $primaryColor1;
    padding: 0.2em 1em;
    border: none;
    border-radius: 0.3em;
    letter-spacing: -0.1em;
    &:active {
        background-color: #efbd7b;
    }
}

.colorBtn_wait {
    background-color: $boxItemStroke1;
    padding: 0.2em 1em;
    border: none;
    border-radius: 0.3em;
    letter-spacing: -0.1em;

}