.scroll{
    position:fixed;
    right:2%;
    bottom:5%;
    z-index:1;
    
    button{
      font-weight: bold;
      padding: 14px 12px;
      background-color: white;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.200);
      border: none;
      border-radius: 50%;
      outline: none;
      &:hover {
        background-color:#FCF5EA;
        color: #FFC478;
      };
    }  
  
  }