.headerModalBox{
    padding: 15px;
    width:230px;
    height:350px;
    transform: translate(5%,62%); 
    z-index: 2;
    position: absolute;
    border-radius: 10px;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.200);
    .profile{
        width:50px;
        height:50px;
        border-radius: 50%;
    }
    
}
.headerModalTop{
    width:100%;
    display:flex;
    // justify-content: flex-end;
    justify-content: end;
   
}
.headerModalClose{
background-color: transparent;
position:relative;
border: none;
width:30px;
height:30px;
font-weight: bold;
}

.headerModalMiddle{
    display: flex;
    position:relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    .headerLogOutBtn{
        width:100%;
        margin:5px;
        padding: 10px;
        margin-top:40px;
        border:none;
        background-color: transparent;
        border: 1px solid  #F7F8FA;
        border-radius: 10px;
        font-weight: bold;
        img {
            transform: rotate(90deg);
        }
    }
    .headerLogOutBtn:hover{
        background-color: #F7F8FA;
    }
    a:hover{
        background-color: #F7F8FA;
    }

    a{
        width:100%;
        margin:5px;
        padding: 10px;
        text-align: center;
        color: black;
        background-color: transparent;
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 10px;
    }
}