.headerModalBox{
    padding: 15px;
    width:230px;
    height:300px;
    transform: translate(30%,65%); 
    border: 1px solid rgba(0,0,0,0.3);
    z-index: 2;
    position: absolute;
    border-radius: 3px;
    background-color: rgba(255,255,255,1);
}
.headerModalTop{
    width:100%;
    display:flex;
    justify-content: end;
   
}
.headerModalClose{
background-color: transparent;
position:relative;
border: none;
width:10px;
height:10px;
}

.headerModalMiddle{
    width:100%;
    height:100%;
    display: flex;
    position:relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    .headerLogOutBtn{
        
        width:100%;
        margin:5px;
        padding: 10px;
        margin-top:40px;
        background-color: transparent;
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 15px;
    }
    .headerLogOutBtn:hover{
        background-color: rgb(234, 234, 234);
    }
    a:hover{
        background-color: rgb(234, 234, 234);
    }

    a{
        width:100%;
        margin:5px;
        padding: 10px;
        text-align: center;
        color: black;
        background-color: transparent;
        border: 1px solid rgba(0,0,0,0.2);
        border-radius: 15px;
    }

}