.wrapper {
    width: 100%;
    height: 96.5%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding : 2em 0em
}

.dummyImges {
    border: none;
    margin-bottom: 0.5em;
    width: 70%;
    height: 14em;
    border: 1px solid black;
}