.container{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    margin-top: 9vh;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.45);
    .form{
        position:absolute;
        text-align: center;
        background-color: #ffffff;
        border-radius:10px; 
        border:1px solid rgba(166, 130, 130, 0.2);  
        transform:translateY(-50%);
        
        width:20vw;  
        height:38vh; 
        padding:10px;
        top:35%;   
        p{
            font-weight: bold;
        }
    }
    .textArea{
      height: 18vh;
    }
    .btn{
        border: none;
        border-radius: 10px;
        height: 2rem;
        width: 10vw;
        font-size: 1rem;
        font-weight: bold;
        background-color:#FFC478;
        &:hover {
          color: white;
        }
      }
}

// .container{
//     background-color:#FFC478;
//     margin : 100px auto;
//     width : 24vw;
//     box-shadow:1px 1px 4px 1px lightgrey;
// }

// .container form {
//     width : 100%;
//     padding: 10px;
// }
// .container label{
//     display: block;
//     letter-spacing:0.1rem;
//     font-style:italic;
//     margin-bottom:3px;
// }
// .container input,
// .container textarea {
//     width:100%;
//     margin:0 auto;
//     padding:10px;
//     border:none;
//     box-shadow: 1px 1px 4px 1px rgb(240, 151, 42);
// }
// .singleItem{
//     margin:10px 0;
// }
// .btn {
//     width:100%;
//     text-align:center;
// }
// .btn button{
//     width:150px;
//     font-size:18px;
//     letter-spacing : 0.2rem;
//     padding:5px 10vh;
//     border:1px solid transparent;
//     outline:none;
//     transition : all 0.5s ease-in-out;
//     position:relative;
//     margin-top:5px;
// }

// .btn button:hover{
//     border:1px solid #fefefe;
//     background-color: rgb(238, 197, 125);
//     cursor : pointer;
// }

// .msg{
//     text-align:center;
//     margin:0 auto;
//     margin-bottom : 10px;
//     letter-spacing: 0.2rem;
//     font-style:italic;
//     width: 340px;
//     padding: 3px;
//     font-size:16px;
//     font-weight:bold;
//     color : green;
//     background-color: #fff;
//     border-radius: 5px;
//     display :none;
// }
// .msgAppear{
//     display:block;
// }

// @media screen and (min-width:664px){
// .cotainer{
//     width:60%;
// }
// }

// @media screen and (min-width:986px){
//     .cotainer{
//         width:40%;
//     }
//     }
    