.button{
    border-radius: 5px;
    width:150px;
    height:40px;
    padding:10px;
    border: 1px solid rgba(189, 187, 187, 0.938);
    background:white;
    color:black;
    font-weight: 900;
    font-size: 15px;
}