.button{
    width: 300px;
    height: 55px;
    border-radius:10px;
    background-color: #FFC478;
    border:none;
    box-shadow:0 0 5px 0 rgba(0, 0, 0, 0.100);
    font-weight: 600;
    font-size:1rem;
    cursor: pointer; ;
    margin:5px 0;
}