.loginBackground {
    width: 100%;
    height: 70vh;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
    top: 0;
    display: flex;
    align-items: center;
}

.loginBox {
    padding: 20px;
    width: 350px;
    /* height: 450px; */
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.100);
}

.formItem {
    width: 300px;
    height: 55px;
    border-radius: 10px;
    border: lightgray solid 1px;
    /* border:none; */
    outline: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.100);
    padding: 0 10px;
    margin: 5px;
}


.button {
    width: 300px;
    height: 55px;
    border-radius: 10px;
    background-color: #FFC478;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.100);
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;

    margin: 5px 0;
}