@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@mixin cardBox() {
    width:100%;
    height:auto;
    margin-top:100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;

};

@mixin cardTitle() {
    font-family: 'Cafe24Ssurround';
    width:55%;
    margin:10px;
    height:50px;
    display:flex;
    justify-content: space-between;
    span{
        color:#FFC478;
        font-size:30px;
        transform: translateY(5%);
        
    }
    h2{
        font-size: 40px;
    }
};

@mixin cardContent() {
    width:50%;
    height:450px;
    margin:30px;
    border: 1px solid rgba(123,0,0);
    background-size:cover;
    border-radius: 20px;
    background-repeat: no-repeat;
    
    }
    @mixin cardText{
        font-family: 'Cafe24Ssurround';
        margin-top: 30px;  
        font-size:30px;
    }

    @mixin cardBoxAnimation{
        animation:2s cardBoxAnimationEffect
    }
    
        @keyframes cardBoxAnimationEffect {
        0%{
               transform: translateY(300px);
               opacity: 0;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
        
    }