@use 'CardFunction' ;

.cardMiddle{
 @include CardFunction.cardBox();
}

.cardAnimation{
    @include CardFunction.cardBoxAnimation();
}
.cardMiddleTitle{
@include CardFunction.cardTitle();
        span{
            font-size: 25px;
        }
        h2{
            font-size: 30px;
        }

}

.cardMiddleBox{
@include CardFunction.cardContent();

}

.cardMiddleBox::before{
    content:'';
    position:absolute;
    width: 50%;
    height: 20%;
  }
