@use 'CardFunction' ;

.cardMiddle{
 @include CardFunction.cardBox();
}

.cardAnimation{
    @include CardFunction.cardBoxAnimation();
}
.cardMiddleTitle{
@include CardFunction.cardTitle();

}

.cardMiddleBox{
@include CardFunction.cardContent();

}

.cardMiddleBox::before{
    content:'';
    position:absolute;
    width: 50%;
    height: 20%;
  }
