@use '../features/styles/color.scss' as *;

.Wrapper {
    width: 100%;
    background-color: #FFF;

}

.navBar {
    display: flex;
    align-items: center;
    border: 1px solid $boxItemStroke1;
    height: 5.5vh;
}

.contentsWrapper {
    display: flex;
    height:94.5vh;
}

.designTab {
    
    z-index: 1;
    width: 21.04vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    >button:last-child {
        margin-top: 0.5em;
        width: 90%;
    }
}

.canvas {
    background-color: #ECECEC;
    width: 58.18vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.promptsBox {
    width: 90%;
    height: 30vh;
    overflow-y: scroll;
}

.textBtnBox button, .toolBtn {
    border: $boxItemStroke1 1px solid;
    border-radius: 5px;
    width: 39px;
    height: 39px;
    background: #FFF;
    margin: 0em 0.15em;
    padding: 0;
}

.textBtnBox {
    display: flex;
    button:last-child {
        padding-bottom: 0.2em;
    }
}

