@use '../features/styles/color.scss' as *;
.Wrapper {
    width: 100%;
}
.navBar {
    display: flex;
    align-items: center;
    border: 1px solid $boxItemStroke1;
    height: 5.5vh;
}

.contentsWrapper {
    display: flex;
    height: 94.5vh;
}

.designTab {
    z-index: 1;
    width: 21.04vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    button:last-child {
        margin-top: 1em;    
        width: 90%;
    }
}

.canvas {
    background-color: #ECECEC;
    width:  58.18vw;

}

.promptsBox {
    width: 90%;
    height: 30vh;
    overflow-y: scroll;
}

.images {
    width: 256px;
    height: 256px;
}

.loading_bar {
    display: flex;
    justify-content: center;
    align-items: center;
}