.Wrapper {
    width: 100vw;
    height: 100vh;
}

.navBar {
    border: 1px solid pink;
    height: 5vh;
}

.contentsWrapper {
    display: flex;
}

.designTab {
    height: 100vh;
    width: 21.04vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas {
    background-color: aqua;
    width:  58.18vw;
    height: 100vh;

}

.contis {
    background-color: tomato;
    width:  21.04vw;
    height: 100vh;
}

.promptsBox {
    width: 90%;
    height: 30vh;
    overflow-y: scroll;
}
